<ion-view view-title="About">
  <ion-content>
    <div class="list card">
      <div class="item item-divider"></div>
      <div class="item item-body">
      La App “Età Vascolare” utilizza un algoritmo messo a punto con SCORE per calcolare l’Età Vascolare e il rischio di un evento fatale nei 10 anni successivi. Il progetto Systematic COronary Risk Evaluation (SCORE) ha formulato una metodologia di stima del rischio cardiovascolare che è stato adottato dalle Linee Guida congiunte delle Società Europee di Cardiologia e Ipertensione sulla prevenzione cardiovascolare. La metodologia SCORE ha il vantaggio di essere basata su studi epidemiologici europei.
      </div>
    </div>
  </ion-content>
</ion-view>
